{% extends 'store/main.html'%}
{% load static %}
{% block content%}
<!--Section: Block Content-->
<section class="mb-5">

  <div class="row">
    <div class="col-md-6 mb-4 mb-md-0">

      <div id="mdb-lightbox-ui"></div>

      <div class="mdb-lightbox">

        <div class="row product-gallery mx-1">

          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">

              <div class="w3-content img-fluid z-depth-1" style="max-width:1200px;">
                <img class="mySlides" src="{{product.imageURL}}" style="width:100%;display:none;max-height:20%">
                <img class="mySlides" src="{{detail.imageURL1}}" style="width:100%;max-height:50%">
                <img class="mySlides" src="{{detail.imageURL2}}" style="width:100%;display:none;max-height:20%">

                <div class="w3-row-padding w3-section">
                  <div class="w3-col s4">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="{{product.imageURL}}" style="width:100%;cursor:pointer" onclick="currentDiv(1)">
                  </div>
                  <div class="w3-col s4">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="{{detail.imageURL1}}" style="width:100%;cursor:pointer" onclick="currentDiv(2)">
                  </div>
                  <div class="w3-col s4">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="{{detail.imageURL2}}" style="width:100%;cursor:pointer" onclick="currentDiv(3)">
                  </div>
                </div>
              </div>
              </figure>

          </div>

        </div>

      </div>

    </div>
    <div class="col-md-6">

      <h2>{{product.name}}</h2>
      <p class="mb-2 text-muted text-uppercase small">{{detail.tag}}</p>

          <h4>Star Rating</h4>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star checked"></span>
    <span class="fa fa-star"></span>
    <span class="fa fa-star"></span>

<br>
<br>
    <p><span class="mr-1" style="font-size: 100%; color:red;"><strong>Rs.<strike> {{product.price}}</strike></strong></span>
        <span class="mr-1" style="font-size: 150%"><strong>Rs. {{product.price}}</strong></span></p>
      <p class="pt-1">{{detail.description}}</p>
      <div class="table-responsive">
        <table class="table table-sm table-borderless mb-0">
          <tbody>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Model</strong></th>
              <td>{{detail.model}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Colour</strong></th>
              <td>{{detail.color}}</td>
            </tr>
            <tr>
              <th class="pl-0 w-25" scope="row"><strong>Delivery</strong></th>
              <td>India,Nepal,Bhutan</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr>
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pb-0">Select size</td>
            </tr>
            <tr>
           
              <td>
                <div class="mt-1">
                  <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="small" name="materialExampleRadios"
                      checked>
                    <label class="form-check-label small text-uppercase card-link-secondary"
                      for="small">Small</label>
                  </div>
                  <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="medium" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary"
                      for="medium">Medium</label>
                  </div>
                  <div class="form-check form-check-inline pl-0">
                    <input type="radio" class="form-check-input" id="large" name="materialExampleRadios">
                    <label class="form-check-label small text-uppercase card-link-secondary"
                      for="large">Large</label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    
    <a href="{% url 'cart' %}">
      <button type="button" id="button1" class="btn btn-primary rounded-pill">Buy now</button></a>
      <button id="button2" data-product={{product.id}} data-action="add" class="btn btn-success add-btn rounded-pill update-cart">Add to cart</button>
    </div>
  </div>

</section>
<!--Section: Block Content-->



<script>
function currentDiv(n) {
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
  }
  x[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " w3-opacity-off";
}
</script>


<style>
.checked {
  color: orange;
}
</style>



{% endblock content %}

