

.dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 2px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content p:hover {background-color: #99ffff}

.dropdown:hover .dropdown-content {
  display: block;
}
.status {
	margin-left: 10px;
	display: inline; /* the default for span */
	padding: 5px;
	border: 1px solid blue;  
}
.search{
	padding: 10px;
}
.blurfilter{
       filter: blur(4px);
    }


